<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>NASA SPACEAPPS 2018</title>
	</head>
	
	<body style="overflow-x:hidden;background:url(https://wallpapersite.com/images/wallpapers/material-4800x3000-dark-background-yellow-minimal-geometric-hd-4k-14290.png);background-repeat:no-repeat;background-size:cover;background-position:center;height:1300px;">
			<div class="container">
			
				<div class="row">
					
					<div class="col-lg-9 col-md-9 hidden-sm hidden-xs">
						<img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="img-responsive" style="max-height:100px;max-width:100px;margin:5px;" />
					</div>
						
					<div class="hidden-lg hidden-md col-sm-12 col-xs-12">
					   <center><img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="img-responsive" style="max-height:100px;max-width:100px;" /></center>
					</div>
						
					<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
						<br>
						<center><h3><a href="https://github.com/SaipranavK"><font color="white">SaipranavK</font></a></h3></center>
					</div>
					
					<div class="hidden-lg hidden-md col-sm-12 col-xs-12">
						<center><h3><a href="https://github.com/SaipranavK"><font color="white">SaipranavK</font></a></h3></center>
					</div>
					
				</div>	
					
			</div>		
					
			<br>
			
			<div class="container">
				
				<div class="row" style="background-color:#FFFFFF;height=500px;">
				
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<center><h1>NASA SpaceApps Challenge 2018</h3></center>
						<hr />
						
						<h2>In a nutshell</h2>
						<p class="justify">Unified platform for space data <br>References: <a href="https://2018.spaceappschallenge.org/challenges/can-you-build/when-next-rocket-launch/details">NASA SpaceApps Challenge: Can you build (Do you know when next rocket launch is ?)</a>
						<hr />
						
						<h2>Functionalities</h2>
						<p class="justify">User can browse information about past launches, organisations assoicted to respective countries, popular spaceports and launch sites.</p>	
						<hr \>
						
						<h2>Developed with</h2>
						<p class="justify">Flask (microframework for Python based on Werkzeug, Jinja 2) - <a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a>
						<br>SqlAlchemy (Python SQL toolkit and Object Relational Mapper ) - <a href="https://www.sqlalchemy.org/">https://www.sqlalchemy.org/</a>
						<br>Bootstrap (open source toolkit for developing with HTML, CSS, and JS) - <a href="https://getbootstrap.com/">https://getbootstrap.com/</a> 
						</p><hr \>
					
						<h2>Local Execution</h2>
						<p class="justify">Mount folder directory in CMD and enter the following commands.
						<br>set FLASK_APP=AlphaCluster.py
						<br>python -m flask run
						<br>Copy the local host ip http://127.0.0.1:5000/ and paste in your preferred browser
						<a href="{{url_for('static',filename='1.png')}}" class="thumbnail">
						<img src="{{url_for('static',filename='1.png')}}" class="img-responsive" />
						</a>
						</p>
						<hr />
					
						<h2>Future Work</h3>
						<p class="justify">All the organisations can store their data on this platform to have transparency for public user and global communication between their peers.</a></p>
					
					</div>
					
			
				</div>
			
			</div>
			
			<br>
			
			<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<center><a href="locations"><button class="btn btn-danger"><h2>Go to Portol</h2></button></center>
			<br>
			
		<!--Footer-->
		<div class="container-fluid" style="background-color:#222;min-height:150px;width:100%;">
			
			<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
				<br>
				<p><font color="White">Saipranav Koyyada<br>Department of Computer Science & Engineering<br>Jawaharlal Nehru Technological University<br>Kukatpally,Hyderabad - 500085<br>ksaipranav@gmail.com</font></p>			
			</div>
			
			<div class="hidden-lg hidden-md col-sm-6 col-xs-6">
				<br>
				<p><font color="White" size="1">Saipranav Koyyada<br>Department of Computer Science & Engineering<br>Jawaharlal Nehru Technological University<br>Kukatpally,Hyderabad - 500085<br>ksaipranav@gmail.com</font></p>
			</div>
			
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
				<br><br>
				<a href="https://www.linkedin.com/in/saipranavkoyyada/">
				<img src="http://www.ergodomus.it/wp-content/uploads/2017/02/linkedin-logo-copy.png" class="img-responsive" style="height:80px;width:80px;">
				</a>
			</div>
			
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
				<br><br>
				<a href="https://www.quora.com/profile/Saipranav-Koyyada">
				<img src="https://cdn2.iconfinder.com/data/icons/Quora-Icons/512/Quora.png" class="img-responsive" style="height:80px;width:80px;">
				</a>
			</div>
			
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
				<br><br>
				<a href="https://twitter.com/Saipranav_K">
				<img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" class="img-responsive" style="height:80px;width:80px;">
				</a>
			</div>
			
			<div class="hidden-lg hidden-md col-sm-2 col-xs-2">
				<br><br><br>
				<a href="https://www.linkedin.com/in/saipranavkoyyada/">
				<img src="http://www.ergodomus.it/wp-content/uploads/2017/02/linkedin-logo-copy.png" class="img-responsive" style="height:40px;width:40px;">
				</a>
			</div>
			
			<div class="hidden-lg hidden-md col-sm-2 col-xs-2">
				<br><br><br>
				<a href="https://www.quora.com/profile/Saipranav-Koyyada">
				<img src="https://cdn2.iconfinder.com/data/icons/Quora-Icons/512/Quora.png" class="img-responsive" style="height:40px;width:40px;">
				</a>
			</div>
			
			<div class="hidden-lg hidden-md col-sm-2 col-xs-2">
				<br><br><br>
				<a href="https://twitter.com/Saipranav_K">
				<img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" class="img-responsive" style="height:40px;width:40px;">
				</a>
			</div>
		
		</div>
		
	</body>
</html>